<h2>Update: <%= @ingredient.name() %></h2>
<hr>
<form action="/ingredients/<%= @ingredient.id() %>" method="post">
  <input type="hidden" name="_method" value="patch">
  <label for="new_ingredient_name">New Ingredient name:</label>
  <input type="text" name="new_ingredient_name" value="<%= @ingredient.name %>">
  <button type="submit">Update Ingredient</button>
</form>
<hr>
<a href="/ingredients/<%= @ingredient.id %>"><%= @ingredient.name() %></a><br>
<a href="/ingredients">Ingredients</a><br>
<a href="/">Home</a>

<!--Remove ingredient???  -->
