<h2> <%= @recipe.name() %></h2>
<hr>

<div class="container">
  <div class="row">
    <div class="col-md-5 col-md-2-offset">
      <h3>Ingredient List</h3>
      <ul>
        <% @recipe.ingredients.each() do | ingredient | %>
          <li> <%= ingredient.name() %> </li>
        <% end %>
      </ul>
    </div>
    <div class="col-md-5 col-md-2-offset">
      <h3>Instruction List</h3>
      <ol>
        <% @instruction_array.each() do | instruction | %>
          <li> <%= instruction %> </li>
        <% end %>
      </ol>
    </div>
  </div>
  <hr>
  <div class="col-md-5 col-md-2-offset">
    <h3>Rating Score</h3>
    <%= @recipe.rating %> 
  </div>
  <hr>
  <div class="row">
    <div class="col-md-2-offset col-md-5">
      <h3>Tags List</h3>
      <ul>
        <% @recipe.tags.each() do |tag| %>
          <li> <%= tag.name() %> </li>
        <% end %>
      </ul>
    </div>
  </div>

  <hr>

  <form action="/recipe/<%= @recipe.id() %>/update" method="post">
    <button type="submit">Update</button>
  </form>
  <br>
  <hr>
  <a href="/recipes">Recipes</a><br>
  <a href="/">Home</a>
</div>
